### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# IntelliJ
# User-specific stuff
out/
.idea/
*.iws
*.iml
*.ipr


# mpeltonen/sbt-idea plugin
.idea_modules/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Single Module Project
/.externalToolBuilders/
/.settings/
/.metadata/
/.recommenders/
/target/*/
/bin/
/build/
/doc/
/lib/
/test-output/
/allure-results/
/.classpath
/.project
/.checkstyle
/reports/
/.idea/
*.ucls


### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


### Maven ###

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini